/* || VARIABLES */
:root {
    --light-bg-color: white;
    --dark-bg-color: #030E29;
    --gradient-bg-color: linear-gradient(180deg, #030E29, #07205E, #1C4871);

    --light-heading-color: #D95829;         /* Use on light background colors*/
    --dark-heading-color: white;            /* Use on dark background colors*/

    --kicker-color: #F37C2A;

    --light-font-color: #262d3d;           /* Use on light background colors*/
    --dark-font-color: white;              /* Use on dark background colors*/

    --light-border-color: #EBEAED;          /* Use on dark background colors*/
    --dark-border-color: #030E29;           /* Use on light background colors*/

    --main-button-color: linear-gradient(90deg, #F37C2A, #D95829, #D95829);
    --main-button-hover-color: linear-gradient(90deg, #B15A0A, #B73607);

    --secondary-button-border-color: #EBEAED;
    --secondary-button-hover-border-color: #F37C2A;

    --box-shadow: 0px 2px 4px rgb(0,0,0,0.3);

    --main-bullet-color: #F37C2A;
}


/* || ELEMENTS */
h1,h2{
    font-family: 'Montserrat', sans-serif !important;
}

body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif !important;
}

section{
    position: relative;
    width: 100%;
}


/* || SITEWIDE */
.dark-background{
    background: var(--dark-bg-color);
    color: var(--dark-font-color);
}

.gradient-background{
    background-color: var(--dark-bg-color);
    background-image: var(--gradient-bg-color) !important;
    color: var(--dark-font-color);
}

.white-background{
    background: var(--light-bg-color);
    color: var(--light-font-color);
}

.home-container {
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem 2rem;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.home-container p {
    font-size: 1rem;
    margin: 20px 0;
    line-height: 25px;
}

.heading-orange{
    color: var(--light-heading-color);
    font-weight: 600;
}

.heading-white{
    color: var(--dark-heading-color);
    font-weight: 600;
}

.esi-btn {
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 100px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    text-decoration: none;
}

.main-btn{
    height: 35px;
    background: var(--main-button-color);
    border: none;
    color: var(--dark-font-color);
    padding: 10px 25px;
    transition: 0.3s ease;
}

.main-btn:hover {
    background: var(--main-button-hover-color) !important;
}

.light-border{
    border-radius: 10px;
    border: 1px solid var(--light-border-color);
}

.kicker{
    font-size: 16px;
    color: var(--kicker-color);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}


/* || NAVBAR */
.esi-navbar{
    background-color: var(--dark-bg-color) ;
    font-family: 'Montserrat', sans-serif;
}

.nav-profile {
    margin-left: auto;
}

.navbar-collapse{
    padding: 14px .7rem;
}

.navbar-toggler{
    border:none !important;
}

.dropdown-menu{
    background-color: transparent !important;
    border: none !important;
}

.dropdown-item{
    margin: 5px 0;
    transition: 0.3s ease;
    font-size: 15px !important;
}

.dropdown-item:hover{
    background-color:  #2A7CC7 !important;
}

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px !important;
}


/* || HERO */
.hero{
    padding: 3rem 1rem 4rem 1rem;
    font-family: 'Montserrat', sans-serif;
}

/* || ABOUT SECTION */
#about-section .background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

/* || VALUES SECTION */
.value-row {
    margin-top: 60px !important;
    row-gap: 3.75rem;
}

.value-card {
    padding: 75px 35px 20px 35px;
    text-align: center;
    position: relative;
}

.value-card .icon {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
}


@media (min-width: 992px) {
    .home-container p {
        font-size: 1.0625rem;
        margin: 25px 0;
        line-height: 30px;
    }

    /* || NAVBAR */
    .nav-profile {
        width: 100%;
    }

    .dropdown-menu{
        margin-top: 16px !important;
        margin-right: 0 !important;
        background-color: #030303 !important;
        border-radius: 0 0 5px 5px !important;
    }

    .navbar-collapse{
        padding: 0;
    }

    .social-icons{
        margin-top: auto !important;
    }

    .social-icons .nav-item .nav-link{
        padding-left: 1px !important;
    }

    /* || VALUES SECTION */
    .value-card p {
        font-size: 1rem;
        margin: 20px 0;
        line-height: 25px;
    }
}