{% extends "handbook/base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    {% load static %}
    <main>
        <!-- Hero Section -->
        <section class="hero gradient-background mb-md-5">
            <div class="container-xxl">
                <div class="row align-items-center text-center text-md-start">
                    <div class="col-md-7">
                        <h1 class="display-5 fw-bold">Welcome to the ESI Employee Handbook</h1>
                        <p class="lead mt-3">
                            Discover our policies, benefits, and the values that make Educology Solutions unique.
                        </p>
                        <a href="#welcome-section" class="esi-btn main-btn">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Welcome Section -->
        <section class="white-background" id="welcome-section">
            <div class="home-container mb-5">
                <h2 class="heading-orange mb-4">Welcome to Educology Solutions!</h2>
                <p>We’re thrilled to have you join our dedicated and talented team. At ESI, we pride ourselves on providing exceptional services to our government customers, and we believe that your time with us will be both rewarding and challenging.</p>
                <p>This handbook is designed to help you navigate your journey here at ESI. It contains important information about our employment policies and benefits. While we comply with all federal, state, and local employment laws, this handbook primarily reflects those regulations and may not detail every local law.</p>
                <p>We encourage you to read this handbook thoroughly. Once you've reviewed it, please sign the acknowledgment at the end to confirm that you've read, understood, and agreed to its contents. This handbook supersedes any previous versions or policy statements, and ESI reserves the right to update, modify, or supplement it as needed.</p>
                <p>Remember, this handbook is a guide, not a contract of employment. It’s designed to address common situations in the workplace, but it can’t cover everything. If you have any questions or need clarification on any part of this handbook, please don’t hesitate to reach out to Human Resources.</p>
                <p>We’re incredibly proud of our employees and the vital role each of you plays in making ESI a respected and trusted corporate citizen. Our work supports critical government missions, and together, we strive to exceed the standards set by our peers and competitors. Your commitment to our corporate policies and standards is crucial for both your growth and our collective success.</p>
                <p>We’re excited to see all that you will achieve here at ESI. Thank you for being a part of our team!</p>
                <p>Sincerely, Your President & CEO, </p>
                <p><strong>Robin Appia</strong></p>
                <div class="mt-5 text-center">
                    <img src="{% static 'handbook/images/Group-Photo1.png' %}" alt="Robin Appia, ESI CEO" class="img-fluid rounded shadow-lg">
                </div>
            </div>
        </section>

        <!-- Mission Section -->
        <section class="dark-background py-4" id="mission-section" >
            <div class="home-container">
                <div class="light-border">
                    <div class="col-10 m-auto ">
                        <h3 class="kicker mb-3 mt-5">Our Mission:</h3>
                        <h2 class="heading-white">Modernizing Public Sector Services</h2>
                        <p class="mb-5">As a provider of technology services and solutions, ESI strives to modernize and transform public sector services to create a digital-first experience. We help our clients create unified environments for development, continuous delivery/continuous integration, and integrate, automate, secure, and manage complexity through consulting, training, and other technical support services.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- About Section -->
        <section class="white-background py-4" id="about-section">
            <div class="home-container">
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <h2 class="heading-orange mb-4">About ESI</h2>
                        <p>Since its inception, ESI has grown into a distinguished IT services provider by recruiting highly skilled personnel, subject matter experts, technical specialists, and trainers. The company emphasizes robust quality management and closely aligns all solutions with government client missions.</p>
                        <p>Over the past decade, ESI has received numerous customer accolades and industry awards, experienced significant growth, and secured several key certifications and appraisals recognizing its process excellence.</p>
                    </div>
                    <div class="col-12 d-md-none mt-4">
                        <img src="{% static 'handbook/images/office.jpg' %}" alt="ESI Office" class="img-fluid rounded">
                    </div>
                </div>
            </div>
            <div class="background-image d-none d-md-block" style="background-image: url('{% static "handbook/images/office.jpg" %}');"></div>
        </section>


        <!-- Core Values Section -->
        <section class="dark-background py-5" id="values-section">
            <div class="home-container">
                <h2 class="text-center heading-white mb-5">Our Core Values</h2>
                <div class="value-row row gx-5">
                    <!-- First Card -->
                    <div class="col-md-6">
                        <div class="value-card light-border h-100">
                            <div class="icon dark-background">
                                <img src="{% static 'handbook/graphics/icon-set/ico-01.png' %}" alt="Employees First Icon" class="img-fluid" style="width: 80px;">
                            </div>
                            <h5 class="fw-semibold h5">Employees first, customer always</h5>
                            <p>We consider our team our most valuable asset. By ensuring our employees are fulfilled and engaged, we foster a collaborative and innovative environment that leads to superior solutions and heightened customer satisfaction.</p>
                        </div>
                    </div>

                    <!-- Second Card -->
                    <div class="col-md-6">
                        <div class="value-card light-border h-100">
                            <div class="icon dark-background">
                                <img src="{% static 'handbook/graphics/icon-set/ico-02.png' %}" alt="Measurement Icon" class="img-fluid" style="width: 80px;">
                            </div>
                            <h5 class="fw-semibold h5">You can’t manage, what you don’t measure</h5>
                            <p>We strive to ensure that our actions are both correct and effective. By leveraging analytics, we enhance service delivery and elevate the quality and outcomes of our projects, business practices, and policies.</p>
                        </div>
                    </div>

                    <!-- Third Card -->
                    <div class="col-md-6">
                        <div class="value-card light-border h-100">
                            <div class="icon dark-background ">
                                <img src="{% static 'handbook/graphics/icon-set/ico-03.png' %}" alt="Mission Driven Leadership Icon" class="img-fluid" style="width: 80px;">
                            </div>
                            <h5 class="fw-semibold h5">Mission driven leadership</h5>
                            <p>Our leaders are seasoned and dynamic, energizing our team by aligning efforts toward a shared purpose. We seek leaders who clearly articulate our mission, champion our vision for the future, and define the critical role each employee plays in our collective journey.</p>
                        </div>
                    </div>

                    <!-- Fourth Card -->
                    <div class="col-md-6">
                        <div class="value-card light-border h-100">
                            <div class="icon dark-background">
                                 <img src="{% static 'handbook/graphics/icon-set/ico-04.png' %}" alt="Everyone Matters Icon" class="img-fluid" style="width: 80px;">
                            </div>
                            <h5 class="fw-semibold h5">Everyone matters</h5>
                            <p>Diversity and inclusion are vital for enhancing business performance, especially in times of crisis. Our creativity and innovation stem from our diverse perspectives, enabling us to anticipate and adapt to changing consumer needs and prepare effectively for the future.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Story content -->
        <section class="white-background" id="story-section">
            <div class="home-container story-flex">
                <div class="story-content">
                    <div>
                        <h2 class="heading-orange">Our Story</h2>
                        <p>Robin Appia, President & CEO, founded Educology Solutions (ESI) in 2008. Drawing on her experience in the Federal IT industry, Robin recognized the urgent need for a well-trained end-user workforce to support the complex technologies used in government agencies. This realization inspired her to establish ESI, with the goal of bridging the educational gap between technology users and the systems they operate.</p>
                    </div>
                </div>
                <div><div class="story-image"><img src="{% static 'handbook/graphics/about-01.png' %}"  alt="" class="main-image"></div></div>
            </div>
        </section>


        <!-- Policies content -->
        <section class="gradient-background py-5" id="policies-section" >
            <div class="home-container">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h2 class="heading-white">Policies</h2>
                    <a class="esi-btn secondary-btn" id="policiesButton" href="{% url 'handbook:sections' %}" >Explore Policies</a>
                </div>
                <hr class="border-light">
                <div class="row g-4 mt-4">
                    {% for section in sections %}
                        {% if section.policies.exists %}
                        <div class="col-md-6">
                                <div class="policy-card light-border white-background p-4">
                                    <h3 class="fw-semibold h5">{{ section.number }} {{ section.title }}</h3>
                                    <ul class="mt-3">
                                    
                                         {% for policy in section.policies.all %}
                                            <li>{{ policy.number }} {{ policy.title }}</li>
                                        {% endfor %}
                                    </ul>
                                    <a class="esi-btn main-btn mt-3 px-4 py-2" id="policyButton" href="{% url 'handbook:sections' %}?policy={{ section.policies.first.id }}">Explore</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </section>
    </main>

{% endblock %}