<header class="pt-2">
    <h1 class="heading-orange">Welcome to the Handbook</h1>
</header>
<div class="mb-5">
    <p>The ESI Employee Handbook serves as a comprehensive guide, outlining the policies, standards, and expectations for all employees. Its purpose is to foster a supportive work environment by communicating the rights, responsibilities, and benefits of employment at ESI.</p>
    <p>This handbook, however, is not a contract of employment, and ESI reserves the right to modify or discontinue any policy as deemed necessary, with or without notice.</p>
    <p>We encourage employees to familiarize themselves with these guidelines and consult Human Resources with any questions about the handbook's content.</p>
</div>
