<header class="pt-2">
    <h1 class="heading-orange">{{ policy.title }}</h1>
</header>
<div class="mb-5">
    <p>This content is controlled for compliance requirements. Please contact the policy owner (the {{ policy.policy_owner }} Department) if you need to make changes.</p>
    <a href="{% url 'handbook:request_form' policy.number %}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Request Changes</a>
</div>
<section aria-labelledby="purpose">
    <h2>Purpose</h2>
    <div>
        <p>{{ policy.purpose }}</p>
    </div>
</section>
<section aria-labelledby="scope">
    <h2>Scope</h2>
    <div>
        <p>{{ policy.scope }}</p>
    </div>
</section>
<section aria-labelledby="definitions">
    <h2>Definitions</h2>
    <ul>
        {% for definition in policy.definitions.all %}
        <li><strong>{{ definition.term }}:</strong> {{ definition.definition }}</li>
        {% endfor %}
    </ul>
</section>
<section aria-labelledby="policy-statements">
    <h2>Policy Statements</h2>
    <div>
        <p>{{ policy.policy_statements }}</p>
    </div>
</section>
<section aria-labelledby="responsibilities">
    <h2>Responsibilities</h2>
    <div>
        <p>{{ policy.responsibilities }}</p>
    </div>
</section>
<section aria-labelledby="procedures">
    <h2>Procedures</h2>
    <ol>
        {% for step in policy.procedure_steps.all %}
        <li>{{ step.description }}</li>
        {% endfor %}
    </ol>
</section>
<section aria-labelledby="related-policies">
    <h2>Related Policies</h2>
    <div class="row gap-3 px-2">
        {% for related_policy in policy.related_policies.all %}
        <button class="esi-btn main-btn col-sm related-policy-btn" data-policy-id="{{ related_policy.id }}" 
        data-policy-url="{% url 'handbook:fetch_policy_content' related_policy.id %}">
            {{ related_policy.title }}
        </button>
        {% endfor %}
    </div>
</section>

<section class="mt-5 mb-5" aria-labelledby="date-and-revisions">
    <hr>
    <div class="d-flex justify-content-between pt-2">
        <p>Last modified on: {{ policy.pub_date }}</p>
        <p>Reviewed: {{ policy.review_period }}</p>
    </div>
</section>
