{% extends "registration/base.html" %}

{% block title %}Login{% endblock %}

{% block header %}
<h3 class="text-center">Welcome to the Handbook!</h3>
{% endblock %}

{% block content %}

<form method="post" novalidate>
    {% csrf_token %}
    <!-- Username Field -->
    <div class="form-floating mb-3">
        {{ form.username}}
        <label for="{{ form.username.id_for_label }}">Username</label>
        {% if form.username.errors %}
            <div class="text-danger small">{{ form.username.errors|striptags }}</div>
        {% endif %}
    </div>

    <!-- Password Field -->
    <div class="form-floating mb-3">
        {{ form.password}}
        <label for="{{ form.password.id_for_label }}">Password</label>
        {% if form.password.errors %}
            <div class="text-danger small">{{ form.password.errors|striptags }}</div>
        {% endif %}
    </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger small mb-3">
            {{ form.non_field_errors|striptags }}
        </div>
    {% endif %}

    <div class="d-grid">
        <button type="submit" class="esi-btn main-btn">Log In</button>
    </div>
</form>
{% endblock %}

{% block footer %}
<div class="mt-1 text-center">
    <p class="mb-2">
        <a href="{% url 'password_reset' %}" class="text-decoration-none heading-orange fw-normal">Forgot Password?</a>
    </p>
    <p class="small text-muted">
        Don't have an account?
        <a href="{% url 'accounts:signup' %}" class="text-decoration-none heading-orange fw-normal">Register here</a>.
    </p>
</div>
{% endblock %}

